// credits

// how to create flip box in CSS: https://www.w3schools.com/howto/howto_css_flip_box.asp

// My Cohort Classmates: Nathan and Lucas

// Juno Alumni: Celeste E and Alisa Kitkina


@import "setup";

//Typography
$primaryFont: "Press Start 2P";
$secondaryFont: "Miriam Libre";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $primaryFont;
    color: white;
    background-color: #1A1A1A;
}

.wrapper {
    max-width: 1280px;
    width: 90%; 
    margin: 0 auto;
}

h1 {
    font-family: $primaryFont;
    font-size: 5vw;
    line-height: 5vw;
    margin: 10px 0
}

h2 {
    font-family: $secondaryFont;
    font-size: 3vw;
    padding: 10px 0;
}

h3 {
    text-align: center;
    color: #ea593e;
    font-size: 2vw;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: slategray;
    .junoColor {
        color:#ea593e;
    }
    button {
        display: inline-block;
        border: 1px solid white;
        background: none;
        padding: 2rem 3rem;
        margin: 20px 0;
        text-decoration: none;
        color: #ffffff;
        font-family: $primaryFont;
        font-size: 1.6rem;
        cursor: pointer;
        text-align: center;
            
            &:hover {
                color: goldenrod;
                &:before {
                content: '» ';
                image-rendering: pixelated;
                }
            }
        .startGame {
            background: goldenrod;
        }
    }
}


section.game {
    height: 100vh;
    text-align: center;
    padding: 80px 0;

    .memoryCardContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 950px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        perspective: 10000px;

        
        .memoryCard {
            position: relative;
            background-color: #F9F9F9;
            height: 175px;
            width: 125px;
            margin: 1%;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform-style: preserve-3d;
            transition: transform .5s;
            // transform: scale(1);
            // &:active {
            // }
            .cardBack,
            .cardFront {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                backface-visibility: hidden;
                transform: rotateX(0deg);
                    img {
                        width: 100%;
                        height: 100%;
                    }
            }
            .cardBack {
                background-color: peachpuff;

            }
            .cardFront {
                background-color: papayawhip;
                transform: rotateY(180deg);
                
            }
            &.flip {
                transform: rotateY(180deg);
            }
        }  
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 8vw;
        line-height: 8vw;
    }

    h2 {
        font-size: 6vw;
    }
    
    h3 {
        font-size: 4vw;
    }

    header {
        button {
            display: flex;
            }   
        }
    }

    section.game {
        .memoryCardContainer {
            .memoryCard {
                height: 150px;
                width: 100px;
                .cardBack,
                .cardFront {
                    padding: 20px;
                }
            }
        }
    }
}

@media (max-width: 460px) {
    header {
        button {
            display: block;
            width: 100%;
            
        }
    }
    section.game {
        .memoryCardContainer {
        .memoryCard {
            height: 90px;
            width: 60px;
                .cardBack,
                .cardFront {
                    padding: 10px;
                }
            }
        }
    }
}